h1{
    color:blueviolet;
}

p{
    color:rgb(247, 250, 244);
    font-weight: bolder;
}
.blog{
    color:snow;
    background-color: rgb(192, 56, 192);
    padding:10px 10px;
    border:10px solid red;
    
}
.ID{
    color: tomato;
    text-align: end;
    font-size:xx-large
}
.unit{
    border-style:ridge;
    background-color:rgb(124, 123, 187);
    box-shadow:  0 8px 8px 0 rgba(88, 7, 7, 0.2), 0 6px 36px 0 rgba(0, 0, 0, 0.19);
}
    
body{
    background-color: whitesmoke;
}